.input {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  
  span {
    width: 100%;
  }

  &__error {
    color: #ee2a00;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
