.shopping-cart {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;

  @include tablet {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
        
  @include desktop {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
    
  @include largeDesktop {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr;
        
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
            
    @include desktop {
      grid-template-columns: 1fr 1fr;
    }
        
    @include largeDesktop {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.shopping-cart-resume {

  ul {
    list-style: none;
    padding: 0;
  }

  &__product {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
            
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
        
    @include largeDesktop {
      display: flex;
      justify-content: space-between;
    }

  }

  &__product-price {
    justify-self: end;
  }

  &__total {
    text-align: right;
  }
    
  &__pay {
    float: right;
  }
}
