.filter {
  padding-top: 0.5rem;

  &__radio-group {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
        
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
        
    @include largeDesktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
