.product-info {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;

  @include tablet {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
    
  @include desktop {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
    
  @include largeDesktop {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    max-height: 12.25rem;

    @include tablet {
      max-height: 8.25rem;
    }
            
    @include desktop {
      max-height: 8.25rem;
    }
        
    @include largeDesktop {
      max-height: 8.25rem;
    }
  }
}
